body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  word-break: break-all;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.front {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card.blog {
  margin: auto;
  border: solid rgb(51, 51, 51) 1px;
  border-radius: 2px;
  background: rgb(201, 198, 198);
  padding: 10px;
  overflow: hidden;
}

form {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid rgb(51, 51, 51) 1px;
  border-radius: 2px;
  background: rgb(201, 198, 198);
  padding: 10px;
  overflow: hidden;
  max-height: 400px;
}

.notify {
  border: 2px solid;
  padding: 5px 10px;
  width: 85vw;
  height: auto;
  margin: 0 auto;
}

.notify.success {
  background: green;
}

.notify.failed {
  background: red;
}